# Python for Data Science Project Exercise

![Namespace Labs](../../labs.png)

# Arithmetic Operations

In [1]:
# Perform Integer division between 9 and 4
9//4

2

# Data Types

## Lists

In [30]:
movies = ['One','Two','Three','Four','Five','Six']

In [31]:
;#Print Three only
movies[2]

'Three'

In [32]:
# Print all the movies from Two to Four
movies[1:4]

['Two', 'Three', 'Four']

In [33]:
# Print all the movies from Three to the end
movies[2:]

['Three', 'Four', 'Five', 'Six']

In [34]:
# Display all the movies
movies

['One', 'Two', 'Three', 'Four', 'Five', 'Six']

In [35]:
# Display Three and Four only
movies[2:4]

['Three', 'Four']

In [36]:
# Replace Three and Four with Nine and Ten
movies[2:4] = ['Nine', 'Ten']

In [37]:
# Display all the movies
movies

['One', 'Two', 'Nine', 'Ten', 'Five', 'Six']

In [38]:
# Print all the movies in the movie list
for m in movies:
    print(m)

One
Two
Nine
Ten
Five
Six

In [39]:
# Add movie Eleven at the end of the list
movies.append('Eleven')
movies

['One', 'Two', 'Nine', 'Ten', 'Five', 'Six', 'Eleven']

In [40]:
# Remove Movie Two
movies.remove('Two')
movies

['One', 'Nine', 'Ten', 'Five', 'Six', 'Eleven']

In [41]:
#Print the last movie in the list without using indexing
movies.pop()  # Remove and return  item at index (default last)

'Eleven'

In [42]:
# Print the length of the movies list
len(movies)

5

In [43]:
movies

['One', 'Nine', 'Ten', 'Five', 'Six']

In [44]:
# check if "Nine" is in the movies list and print the movie
#if it's in the list otherwise
# Print movie not found. Do this in a function
def check_movie(movie):
    if movie in movies:
        print(f'{movie} found')
    else:
        print(f'{movie} not found')

In [45]:
check_movie('Nine')

Nine found

In [46]:
check_movie('Some Movie')

Some Movie not found

In [47]:
# Display the movies
movies

['One', 'Nine', 'Ten', 'Five', 'Six']

In [48]:
#compare the name of Nine with nine
movies[1] == 'nine'

False

In [49]:
# Delete the second movie completely
del movies[1]

In [50]:
movies

['One', 'Ten', 'Five', 'Six']

In [51]:
# Delete the movies list
del movies

In [52]:
# Display the movies
movies

NameError: name 'movies' is not defined

In [53]:
# Use a dictionary to add two or more actors to every movie
movies_and_actors = {
    'One': ['Actor 1', 'Actor 2'],
    'Two': ['Actor 3', 'Actor 4'],
    'Nine': ['Actor 5', 'Actor 6'],
    'Ten': ['Actor 7', 'Actor 8'],
    'Five': ['Actor 9', 'Actor 10']
}
movies_and_actors

{'One': ['Actor 1', 'Actor 2'],
 'Two': ['Actor 3', 'Actor 4'],
 'Nine': ['Actor 5', 'Actor 6'],
 'Ten': ['Actor 7', 'Actor 8'],
 'Five': ['Actor 9', 'Actor 10']}

In [54]:
# Replace Actor 1 with Actor 11
movies_and_actors['One'][0] = 'Actor 11'

In [55]:
movies_and_actors['One']

['Actor 11', 'Actor 2']

In [56]:
movies_and_actors['One'][0]

'Actor 11'

In [58]:
movies_and_actors

{'One': ['Actor 11', 'Actor 2'],
 'Two': ['Actor 3', 'Actor 4'],
 'Nine': ['Actor 5', 'Actor 6'],
 'Ten': ['Actor 7', 'Actor 8'],
 'Five': ['Actor 9', 'Actor 10']}

In [59]:
#print the actors for movie One
for a in movies_and_actors['One']:
    print(a)

Actor 11
Actor 2

In [60]:
# Print all the actors
for k, v in movies_and_actors.items():
    for a in v:
        print(a)

Actor 11
Actor 2
Actor 3
Actor 4
Actor 5
Actor 6
Actor 7
Actor 8
Actor 9
Actor 10

In [61]:
# Print all the movies
for m in movies_and_actors.keys():
    print(m)

One
Two
Nine
Ten
Five

In [62]:
# Clear the entire movie with actors dictionary
movies_and_actors.clear()
movies_and_actors

{}

In [64]:
# Create a tuple of the movies
movies_tuple = ('One', 'Two', 'Three', 'Four', 'Five')
movies_tuple

('One', 'Two', 'Three', 'Four', 'Five')

In [65]:
# Print the second movie in the tuple
movies_tuple[1]

'Two'

In [66]:
# Replace the second movie with 'Nine'
movies_tuple[1] = 'Nine'

TypeError: 'tuple' object does not support item assignment

In [68]:
# Create a set with the movies
movies_set = {'Five', 'Four', 'One', 'Three', 'Two'}
movies_set

{'Five', 'Four', 'One', 'Three', 'Two'}

In [69]:
# Display the second movie in the set
movies_set[1]

TypeError: 'set' object is not subscriptable

In [71]:
# Add Ten to the set
movies_set.add('Ten')
movies_set

{'Five', 'Four', 'One', 'Ten', 'Three', 'Two'}

Happy Coding!